.button{
    padding: 5px 10px 5px 10px;
	font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #d7d198;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 grey;
}

.button:hover {
    color: white;
    background-color: #43a0c2;
    box-shadow: 0 5px 5px 0 grey;
}

.screen_center{
    position: absolute;
    top: 48%;
    left: 38%;
}

#name{
    width: 200px;
    height: 25px;
    font-size: 18px;
    border: 1px solid grey;
    box-shadow: 0 3px 3px 0 grey;
    border-radius: 7px;
}

#name:hover{
    box-shadow: 0 5px 5px 0 grey;
}

.body .setName{
  width: 400px;
  height: 200px;
  /*background-color: #e7e8d9;*/
  background: -moz-linear-gradient(45deg, rgba(193,158,103,1) 0%, rgba(193,158,103,1) 10%, rgba(233,212,179,1) 39%, rgba(237,218,187,1) 52%, rgba(243,226,199,1) 70%, rgba(182,141,76,1) 88%, rgba(182,141,76,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(193,158,103,1)), color-stop(10%, rgba(193,158,103,1)), color-stop(39%, rgba(233,212,179,1)), color-stop(52%, rgba(237,218,187,1)), color-stop(70%, rgba(243,226,199,1)), color-stop(88%, rgba(182,141,76,1)), color-stop(100%, rgba(182,141,76,1)));
  background: -webkit-linear-gradient(45deg, rgba(193,158,103,1) 0%, rgba(193,158,103,1) 10%, rgba(233,212,179,1) 39%, rgba(237,218,187,1) 52%, rgba(243,226,199,1) 70%, rgba(182,141,76,1) 88%, rgba(182,141,76,1) 100%);
  background: -o-linear-gradient(45deg, rgba(193,158,103,1) 0%, rgba(193,158,103,1) 10%, rgba(233,212,179,1) 39%, rgba(237,218,187,1) 52%, rgba(243,226,199,1) 70%, rgba(182,141,76,1) 88%, rgba(182,141,76,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(193,158,103,1) 0%, rgba(193,158,103,1) 10%, rgba(233,212,179,1) 39%, rgba(237,218,187,1) 52%, rgba(243,226,199,1) 70%, rgba(182,141,76,1) 88%, rgba(182,141,76,1) 100%);
  background: linear-gradient(45deg, rgba(193,158,103,1) 0%, rgba(193,158,103,1) 10%, rgba(233,212,179,1) 39%, rgba(237,218,187,1) 52%, rgba(243,226,199,1) 70%, rgba(182,141,76,1) 88%, rgba(182,141,76,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19e67', endColorstr='#b68d4c', GradientType=1 );
  padding-top: 100px;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  align-items: center;
  border-radius: 10px;
}

.header{
  margin-top: 0px;
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  background-color: #bcc7c9;
  height: 60px;
  padding: 15px 0 5px 0;
  border-bottom: 2px solid grey;
}

.body{
  padding: 194px 0 194px 0 ;
}
